<!--
  Generated template for the MonanDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{monan.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="monan">

  <img src="{{monan.imageUrl}}">
  <ion-grid padding>
    <ion-row>
      <ion-col text-center>
        <h1 class="tenmonan">{{monan.name}}</h1>
        <p class="mota">{{monan.description}}</p>
        <button ion-button icon-only clear (click)="onAddFavorites()">
          <ion-icon name="heart-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
      <ion-list-header>
        <h3 class="tieudecon" item-start>Nguyên liệu</h3>
        <ion-icon item-end name="book"></ion-icon>
      </ion-list-header>
      <button ion-item class="thit" text-wrap *ngFor="let thit of monan.thits | thitFullDetail" (click)="onToThit(thit)">        
        <ion-icon item-start color="primary" [name]="'mi-'+thit.type+'-round'"></ion-icon>
          <h2>{{thit.name}} </h2>          
          <span item-end>{{thit.amount}} <ion-icon name="play"  icon-right></ion-icon></span>          
      </button> 
      <ion-item class="nguyenlieu" text-wrap *ngFor="let nguyenlieu of monan.nguyenlieus">
        <ion-icon item-start color="primary" name="book"></ion-icon>
          <h2>{{nguyenlieu.name}}</h2>
          <span item-end>{{nguyenlieu.amount}}</span>          
      </ion-item>     
    </ion-list>
  <ion-list>
    <ion-list-header>
      <h3 class="tieudecon">Gia vị</h3>
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col class="giavi" text-center col-2 *ngFor="let giavi of monan.giavis | giaviFullDetail">
            <ion-icon text-center [name]="giavi.icon" [style.color]="giavi.color" ></ion-icon>
            <p text-center class="giavi-amount" >{{giavi.amount}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h3 class="tieudecon">Chế biến</h3>
    </ion-list-header>       
      <ion-item class="buoc" text-wrap *ngFor="let step of monan.steps; let i = index">
        <ion-chip item-start><h4><span>{{i+1}}</span></h4></ion-chip>        
        <p>{{step}}</p>        
      </ion-item>    
  </ion-list>
  <ion-list class="thuongthuc">
      <ion-list-header>
        <h3 class="tieudecon">Thưởng thức</h3>
      </ion-list-header>
      <ion-item text-center>
        <ion-icon name="quote" color="secondary"></ion-icon>
        <p>{{monan.enjoy}}</p>
      </ion-item>
  </ion-list>

</ion-content>
