page-thit-detail {
    .tenthit{
        text-transform: uppercase;
        color: map-get($colors, primary );
    }
    .tieudecon{
        color: map-get($colors, primary );
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.1em;
    }
    .chipchip{
        background-color: map-get($colors , mygrey);
        color: #fff;
        padding: 4px 8px; 
        border-radius: 5px;
        font-size: 0.8em;
        font-weight: 700;
    }
}
