page-thit-detail {
    .tenthit{
        text-transform: uppercase;
        color: map-get($colors, primary );
    }
    .tieudecon{
        color: map-get($colors, primary );
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.1em;
    }
}
