page-main {
    .logo{
        max-height: 130px;        
        margin: 18px auto;
    }


    .tieude{
        font-family: 'Pacifico';
               
    }
    .con{
        font-size: 2em;
        color: map-get($colors , primary )
    }
    .con2{
        font-size: 2em;
        color: map-get($colors , secondary )
    }

    ion-content{        

        ion-grid.grid{
            padding: 0;
        }

        img {            
            
            width: auto;
            margin: auto;
            display: block;
            
            }
        .dadieu{
            background-color: map-get($colors , secondary );
            color: #fff;
            ion-icon{
                margin-top: 30px;            
                font-size: 5em!important; //Preferred size here
            }
        }

        .casau{
            background-color: map-get($colors , primary );
            color: #fff;
            ion-icon{
                margin-top: 30px;            
                font-size: 5em!important; //Preferred size here
            }
        }

        .intro{            
            ion-slide>div{
                border: 1px solid;
                border-radius: 5px;
                margin: 5px;                
                ion-item{
                    background-color: transparent;
                }
                ion-icon{
                    font-size: 1.6em;                                  
                }
                p{ 
                    font-size: 0.9em; 
                    margin:5px;                   
                }
            }
            .intro01{
                p, ion-icon{
                    color: map-get($colors , tone09);
                }                
                div {
                    border-color: map-get($colors , tone09);
                } 
                
            }
            .intro02{
                p, ion-icon{
                    color: map-get($colors , tone08);
                }
                div {
                    border-color: map-get($colors , tone08);
                }   
                                
            }
            .intro03{
                p, ion-icon{
                    color: map-get($colors , tone07);
                }   
                div {
                    border-color: map-get($colors , tone07);
                }            
            }
        } 
    }
}
