<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cửa hàng</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let cuahang of cuahangs">
    <ion-card-content [ngClass]="cuahang.type">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="topstamp" *ngIf="cuahang.type == 'cuahang'">
              <ion-icon name="basket"></ion-icon>
              <span>CỬA HÀNG</span>
            </div>
            <div class="topstamp" *ngIf="cuahang.type == 'sieuthi'">
              <ion-icon  name="cart"></ion-icon>
              <span>SIÊU THỊ</span>
            </div>
            <h1 class="header">              
              {{cuahang.name}}
            </h1>
            <h3 text-wrap class="info_item">              
              {{cuahang.address}}, {{cuahang.province}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button *ngIf="cuahang.phone" ion-button icon-left outline (click)="onCallNumber(cuahang.phone)">
              <ion-icon name="call" color="secondary"></ion-icon>
              {{cuahang.phone}}
            </button>
          </ion-col>
          <ion-col col-6>
            <button class="location" ion-button icon-left clear (click)="openExMap(cuahang)">
              <ion-icon name="compass"></ion-icon>
                Xem vị trí
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
