page-cuahang-list {
    ion-content {
        background-color: #ddd !important;
        .header{        
            font-size: 1.3em;           
            font-weight: 700;
            color: map-get($colors , primary )
        }
        .distance{
            color: map-get($colors , mygrey )
        }
        .info_item{
            font-size: 1em;
        }
        .location{
            color: map-get($colors , mygrey )
        }
        ion-card-content.cuahang{
            background-color: rgb(236, 255, 231);
        }
        ion-card-content.sieuthi{
            background-color: rgb(255, 253, 230);
        }

        .topstamp{
            color: #999
        }
    }
    
    .filter .toolbar-background{
        min-height: 30px !important;
        background-color: white; 
    }
    
}
