<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle start >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Món ăn</ion-title>
    <ion-buttons end>
      <button *ngIf="!viewModeMini" ion-button icon-only (click)="onChangeView()" end>
        <ion-icon name="list-box"></ion-icon>
      </button>   
      <button *ngIf="viewModeMini" ion-button icon-only (click)="onChangeView()" end>
        <ion-icon name="albums"></ion-icon>
      </button>   
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="onOpenSearch()" [style.color]="searchMonColor" end>
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar *ngIf="isOpenSearch">    
    <ion-searchbar      
      [(ngModel)]="searchMon"
      [showCancelButton]="true"
      cancelButtonText="Đóng"      
      placeholder="Tìm kiếm"      
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)"
      (ionClear)="onClear($event)"
      (search)="onSearch($event)"  >
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="filter">    
    <form [formGroup]="formGroupMon" (click)="onChangeMon()">
      <ion-segment formControlName="formLoaiMon">
          <ion-segment-button value="all">
            <ion-icon name="egg" type="submit" icon-left></ion-icon> Tất cả
          </ion-segment-button>
          <ion-segment-button value="dadieu">
            <ion-icon name="mi-dadieu-round" type="submit"  icon-left></ion-icon> Đà điểu
          </ion-segment-button>
          <ion-segment-button value="casau">
              <ion-icon name="mi-casau-round" type="submit"  icon-left></ion-icon> Cá sấu
          </ion-segment-button>
        </ion-segment>
    </form>      
  </ion-toolbar>
</ion-header>
<ion-content> 
  <div *ngIf="!viewModeMini">
    <monan-full-box  *ngFor="let monan of monans" [monan]="monan"></monan-full-box>
  </div>
  <ion-list *ngIf="viewModeMini">
    <monan-list-box *ngFor="let monan of monans" [monan]="monan"></monan-list-box>
  </ion-list>
</ion-content>

