page-monan-list {
    ion-content {
        background-color: #ddd !important;
    }
    .tieude{
        font-family: 'Pacifico';        
        color: map-get($colors, primary);
        font-size: 1.4em;
    }

    
}
