page-monan-list {
    ion-content {
        background-color: #ddd !important;
    }    

    .filter .toolbar-background{
        min-height: 30px !important;
        background-color: white; 
    }
        
}
